@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|VT323&display=swap');


*{
	font-family: 'Roboto Mono', sans-serif;
	box-sizing: border-box;
}
html, body{
	width: 100vw;
	height: 100vh;
}
body{
	margin: 0;
	color: #5FAD41;
	background-color: #000;
}
.title{
	font-family: 'VT323', monospace;
	font-size: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 5px;
}
.header{
	height: 15%;
	font-size: 3.5em;
}
.col{
	height: 85%;
	width: 50%;
	float: left;
}
.col > div{
	display: flex;
	  flex-flow: column;
	width: 100%;
	padding: 0 30px;
}
.col > div .title{
	margin: 0 0 20px 0;
	
}
.col > div .article{
	flex-grow: 1;
}
.article img{
	float: left;
	height: 100%;
	width: 30%;
	object-fit: cover;
	margin: 0 15px 0 0;
}
.timeStemp{
	padding: 1px 3px;
    margin: 0 5px 0 0;
    background-color: #CE4257;
    color: #fff;
    width: 100px;
}
.item{
	width: calc(70% - 15px);
    float: right;
	margin: 0 0 15px 0; 
}
.des{
	float: right;
    width: calc(100% - 107px);
}
.aktu{
	height: 40%;
}
.pogo{
	height: 60%;
}
.sport{
	height: 35%;
}
.muzyka{
	height: 25%;
}
.galeria{
	height: 40%;
}