@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|VT323&display=swap');


*{
	font-family: 'Roboto Mono', sans-serif;
	box-sizing: border-box;
}
html, body{
	width: 100vw;
	height: 100vh;
}
body{
	margin: 0;
	color: #5FAD41;
	background-color: #000;
}
a{
	position: relative;
	color: #427AA1;
	transition: color .2s ease-in-out;
	text-decoration: none;
}
a::after{
	content: '>';
	position: absolute;
	transform: translate(10px, 0);
	transition: .2s transform ease-in-out;
	opacity: 0;
}
a:hover{
	color: #5EADDC;
}
a:hover::after{
	transform: translate(0, 0) ;
	opacity: 1;
}
.title{
	font-family: 'VT323', monospace;
	font-size: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 5px;
	border-bottom: 3px dashed #5FAD41;
}
.header{
	height: 15%;
	font-size: 3.5em;
	border: none;
}
.col{
	height: calc(85% - 29px);
	width: 50%;
	float: left;
}
.col > div{
	display: flex;
	flex-flow: column;
	width: 100%;
	padding: 0 20px;
	overflow: auto;
	margin-bottom: 10px;
}
.col > div::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.col > div::-webkit-scrollbar-track {
  background-color: rgba(26, 48, 18, 1);
}
.col > div::-webkit-scrollbar-thumb {
  background-color: #5FAD41;
}
.col > div .title{
	margin: 0 0 20px 0;

}
.col > div .article{
	flex-grow: 1;
}
.article > img{
	float: left;
	height: 100%;
	width: 30%;

	object-fit: cover;
	margin: 0 15px 0 0;
}
.timeStemp{
	font-size: .9em;
	padding: 1px 3px;
  margin: 0 5px 0 0;
  background-color: #CE4257;
  color: #fff;
  width: 95px;
}
.item{
	width: calc(70% - 15px);
    float: right;
	margin: 0 0 15px 0;
}
.item:last-child{
	margin: 0;
}
.newsList{
	list-style-position: inside;
	list-style-image: url(../img/icon.png);
	text-align: center;
}
.weatherDes{
	text-align: center;
	height: 100%;
}
.weatherDes > img{
	margin-top: 20px;
	width: 50%;
	max-width: 100px;
}
.weatherDes > .temp{
	text-transform: uppercase;
	font-family: 'VT323', monospace;
	font-size: 3em;
	margin: 15px 0 0;
}
.weatherDes > .day{
	font-size: 1.2em;
	margin: 5px 0 0;
}
.weatherDes > .con{
	margin: 0 0 30px 0;
	text-transform: lowercase;
}
.des{
	float: right;
    width: calc(100% - 98px);
}
.aktu{
	height: calc(40% - 10px);
}
.pogo{
	height: calc(60% - 10px);
	text-align: center;
}
.sport{
	height: calc(35% - 10px);
}
.muzyka{
	height: calc(25% - 10px);
}
.galeria{
	height: calc(40% - 10px);
}
.footer{
	clear: both;
	margin: 5px;
	height: 19px;
	font-size: 14px;
	text-align: center;
}
